<!DOCTYPE html>
<html>
<head>
</head>

<body>
<p>Hello <%= @contact_name %></p>
<p>We at No Worries are concerned that <%= @user %> has not checked in yet. We want to provide you with the info you may need should <%= @user %> not check in.</p>
<p>Last known event was : <%= @event %></p>
</body>

</html>